* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: rgb(228, 255, 254);
    font-family: Arial, sans-serif;
}

main {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


form {
    padding: 20px;
}


fieldset {
    background-color: #92daee;
    border: 2px solid rgb(78, 165, 215);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
}

/* GRUPOS */
.grupo,
.grupoDois {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.grupoDois {
    width: 48%;
}

fieldset:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* INPUTS */
input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}


/* BOTÕES */
.botao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 12px;
    background: #4ba9c5;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

button:hover {
    background: #379bb5;
}

/* ERROS */
.erro {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.input-erro {
    border: 2px solid red;
}

/* TABELA */
table {
    margin-top: 30px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #75cfdf;
}

tr:nth-child(even) {
    background-color: #73d1da;
}

tr:hover {
    background-color: #e6f2ff;
}

.sexo {
    background-color: #fff; /* fundo branco */
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

/* linha dos radios */
.sexo-opcoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* alinhamento do texto */
.sexo p {
    font-weight: bold;
}

/* erro */
#erro-sexo {
    color: red;
    font-size: 13px;
}

/* Menu */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #0a3d62;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Skip link (acessibilidade) */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

section:focus {
    outline: 3px solid #f39c12;
}

.segundoMenu {
    
}